<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block description %}{% endblock description %}" />
    <link href="/style.css" rel="stylesheet" />
    <link href="/rss.xml" rel="alternate" type="application/rss+xml" title="RSS">
</head>

<body>
    <div class="container">
        <main>
            {% block content %} {% endblock content %}
        </main>
        <footer>
            <a rel="noopener" target="_blank" href="https://github.com/m-rots" class="classy">Made with ♥ by Storm</a>
        </footer>
    </div>
</body>

</html>